@charset "UTF-8";
/* CSS Document */


/*base*/
*{
	margin:0;
	padding:0;
}

body{{background-image: url(comp.jpg);}

nav{ position:absolute;
bottom:0px;
right:0;}


table{border:2px;
border-collapse:collapse;
}

ul {overflow: hidden; background: #BEEA14;
width:300px;float:right; padding-bottom: 
 }
 
a:link,a:visited a {
display:block;
width:70px;
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:1px;
text-decoration: none;
} 

a:active
{
background-color:#7A991A;
}

a:hover {color:#555;}

h2 {width:600px; 
	height:50px;
	padding-top:60px;
	background:none;
	color:#FEF87B}


caption{}

ul,td,p {color:white;}

p{margin-bottom:10px;}

/*layout*/
.box{
	width:960px;
	margin:auto;
	overflow:hidden; 
	}
.box-image{display:block;
}

	table #bark{
width:250px;
}
table #leaves{
width:250px;



/*Module*/
section.content{{width:450px; 
	height:none; 
	background: none; 
	float:left;
	color: #FFF;
	padding:10px; margin-right:10px;}
	
	
	.characteristics{color:white;}

	
	
	
	


/*theme*/


/*state*/

